@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shippori+Antique+B1&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  /* outline: 1px solid red; */
  z-index: 1;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  font-family: 'Shippori Antique B1', sans-serif;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}
header nav a {
  text-decoration: none;
  color:#2c3e50;
  font-size: 20px;
  padding: 10px;
  margin: 0 10px;
}
a:hover {
  color: #ecf0f1;
}
main {
  outline: 1px solid red;
  font-family: 'Roboto', sans-serif;
}
section {
  outline: 1px solid red;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
code {
  color: black;
}

/* ID's */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home img {
  width: 150px;
  margin: 25px;
}
#home i {
  /* outline: 2px solid red; */
  width: 40px;
  align-self: center;
  padding: 50px;
}