@media (max-width: 800px) {
  #topHeader {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
}


body, html {
  background-color: black !important;
  background: black !important;
}

#header {
  top: 245px;
  position: relative;
}
#mobileHeader {
  top: -40px;
}
.header-pfp {
  width: 200px;
}
.menu {
  top: 230px;
  position: relative;
  color: black !important;
}
.fixedNav {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
}
.linkslist{
  text-align: center;
}
.linkslist li {
  display: inline-block;
  padding: 10px;
  position: relative;
}
a, a:link, a:active, a:hover, a:visited{
  text-decoration: none !important;
  color: black !important;
}
.navlinks {
  font-weight: bold;
}
.navlinks:hover {
  /* border-bottom: 2px solid black; */
  color: orangered !important;
}
.emoji:before {
  content: "👋";
  font-size: 30px;
}
#topHeader {
  min-height: 750px;
  background: whitesmoke !important;
  color: black !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#about {
  height: 100vh;
}

.titles {
  top: 300px;
  position: relative;
  text-align: center;
}
.titles-bg {
  background: #121212 !important;
  height: 700px;
  color: whitesmoke;
}
.content-bg {
  background: #F08080;
  height: 700px;
  color: whitesmoke;
}
.about-me {
  font-size: 30px;
  padding: 65px;
  height: relative;
}

.socialMediaBar div ul li a img{
  width: 2em;
  height: 2em;
}
#topHeader .socialMediaBar {
  top: 15px;
  /* width: 100%; */
  position: relative;
  margin: 0 auto;
}
.socialMediaBar div ul li {
  float: left;
  padding: 15px;
}
.socialMediaBar div ul{
  list-style-type: none;
  padding: 10px;
}
.socialIcons:hover {
  color: red !important;
}
.icons {
  top: 2px;
  position: relative;
  width: 1.8em !important;
  heigh: 1.8em !important;
}
