#navbarNavAltMarkup .form-inline {

}
body {
  /* background-image: url("assets/earth.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.row {
  position: relative;
  text-align: center;
  height: 100vh;
  border: 1px solid red;
}
.row .col-md-12 {
  height: 40px;
  top: 50%;
}
h1 {
  padding-bottom: 20px;
}
