* {
  font-family: Avenir;
}
#hero {
  width: 100%;
  overflow-x: hidden;
  /* border: 3px solid red; */
}
#nav-bar {
  top: 0;
  left: 0;
  position: fixed;
  font-size: 1.5vw;
  /* border: 3px solid black; */
  /* background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000); */
}
.wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100px;
  top: 35%;
  left: 0;
  right: 0;
  /* border: 2px solid black; */
}
.wrapper #title {
  width: 100%;
  color: whitesmoke;
  font-size: 6vw;
  text-align: center;
  /* border: 2px solid blue; */
}
#description {
  color: whitesmoke;
  text-align: center;
  left: 0;
  right: 0;
}
#hero ul {
  float: right;
  list-style: none;
  position: relative;
  top: 10px;
}
#hero ul li {
  top: 0;
  float: left;
  padding: 10px;
}
a, a:visited, a:active, a:hover {
  color: whitesmoke;
  text-decoration: none;
}
#hero video {
  object-fit: cover;
  width: 100vw;
  top: 0;
  left: -15px;
  right: 0px;
  position: relative;
}
